html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#map{
    position: absolute;
    top: 0%;
    left: 25%;
    width: 75%;
    height: 100%;
    z-index: 0;
}

.GeoBtn{
    position: fixed;
    width: 30px;
    height: 30px;
    background: #fff;
    /* border: 1px solid #1a1a1a; */
    left: 25.5%;
    border-radius: 50%;
    top: 80px;
    z-index: 999;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sidebar{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 25%;
    height: 100%;
    z-index: 9;
    background: #ffffff;
    overflow-y: scroll;
    overflow-x: hidden;
}

.title{
    text-align: right;
}

.info{
    display: flex;
    justify-content: space-between;
    background: #73C0D8;
    padding: 12px 30px;
    color: #ffffff;
}

.jsDate{
    /* display: flex;
    align-items: center; */
}

.input-field{
    padding: 30px 10px;
    background: #73C0D8;
    position: relative;
}

.input{
    width: 100%;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    margin-right: 20px;
    border: 0px; 
    color: #4e4e4e; 
}

.fas{
    color: #4e4e4e;
    position: absolute;
    right: 40px;
    top: 40px;
}

.select{
    padding: 30px 10px;
    background: #73C0D8;
    /* display: flex;
    justify-content: space-between; */
}

.county,.town{
    /* padding: 10px 6px; */
    /* width: 48%; */
    height: 40px;
    border-radius: 50px;
    text-align: center;
    border: 0px;
    color: #4e4e4e;
    width: 98%;
}

.list{
    height: 100%;
}

/* ScrollToTop */
#btnScrollToTop{
    position: fixed;
    left: 20%;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #73C0D8;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 99;
}


.mask-count{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;  
}

.mask-adult,.mask-child{
    width: 35%;
    padding: 16px 20px;
    border-radius: 50px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 48px;
    font-size: 12px;
    display: flex;
    justify-content: space-between; 
    vertical-align: bottom;
    display: inline-block;
}

.mask-adult{
    background: #73C0D8;
}

.mask-child{
    background: #FFA573;
}

.mask-number{
    font-size: 16px;
}

.list{
    padding: 0px 20px;
    
}

.list li{
    list-style-type: none;
    color: #4e4e4e; 
}

.pharmacy{
    font-size: 20px;
    line-height: 40px;
}

.pharmacy-address{
    margin-bottom: 16px;
    font-size: 16px;
}

.map-address,.map-phone{
    font-size: 16px;
}

.map-adult,.map-child{
    color: #ffffff;
    padding: 6px 12px;
    border-radius: 50px;
    font-size: 16px;
}

.map-adult{
    background: #73C0D8;
}

.map-child{
    background: #FFA573;
}

.odd,.even,.all{
    display: none;
}

.marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);
    }
.marker-cluster-small div {
    background-color: rgba(110, 204, 57, 0.6);
    }

.marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);
    }
.marker-cluster-medium div {
    background-color: rgba(240, 194, 12, 0.6);
    }

.marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);
    }
.marker-cluster-large div {
    background-color: rgba(241, 128, 23, 0.6);
    }

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
    }
.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    }
.marker-cluster span {
    line-height: 30px;
    }